@import "../../styles/base";

.bootcamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: $accent-color;

  .logo-small {
    display: block;
    width: auto;
    height: auto;
    max-width: 50px;
    max-height: 50px;
  }

  .page {
    min-height: 100vh;
  }

  .bg-black {
    background-color: $accent-color;
    color: $primary-color;
    box-shadow: 4px 4px 16px 5px #00000030;
  }

  .category {
    padding: 1em;

    .card {
      background-color: $accent-color;
      color: $primary-color;
      border-radius: 4px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      box-shadow: 4px 4px 16px 5px #00000030;
    }
  }

  iframe {
    width: 100%;
  }
}
