@import "../../../styles/base";

.bootcamp-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  color: $accent-color;
  padding-top: 20px;
  min-height: 100vh;

  // https://stackoverflow.com/questions/8626638/how-to-display-loading-message-when-an-iframe-is-loading
  .registration-loader {
    background: url('/loading.gif') center 20px no-repeat;
  }
}
