@import './base';
@import './spacing';
@import './text';
@import '../assets/bootstrap-grid.min.css';


* {
  font-family: $primary-font, $accent-font, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

#app {
    min-height: 100vh;
}
