@import "../../styles/base";

.about {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .division {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    .division .row:first-child {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    @media screen and (max-width: $breakpoint-md) {
        .division .row:first-child {
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .division .row:last-child {
        justify-content: flex-start;
    }

    .community {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    @media screen and (max-width: $breakpoint-lg) {
        .community {
            flex-direction: column;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        .community {
            flex-direction: row;
        }
    }
}
