@import "../../styles/base";

.home {
    display: flex;
    flex-direction: column;

    * {
        font-family: $accent-font;
    }

    .page {
        display: flex;
        height: 100vh;
        background-color: $accent-color;
        color: $primary-color;
        padding: 10%;
        box-sizing: border-box;

        @media screen and (max-width: $breakpoint-md) {
            padding-bottom: 25%;
        }

        .welcome {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .tech {
                font-size: 1.5em;
                flex: 0 0;
            }

            .register {
                a {
                    border-bottom: .3em solid $primary-color;
                    padding-bottom: .2em;
                    display: inline-block;
                }

                flex: 0 0;
            }

            .button-row {
                display: flex;

                .button {
                    border: 5px solid $primary-color;
                    padding: .7em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}
