@import "../../styles/base";

.home {
    display: flex;
    flex-direction: column;

    * {
        font-family: $accent-font;
    }

    .page {
        display: flex;
        height: 100vh;
        flex-direction: column;
        background-color: $accent-color;
        color: $primary-color;
        padding: 10%;
        padding-bottom: 25%;
        box-sizing: border-box;

        .tech {
            font-size: 1.5em;
        }

        .register {
            a {
                border-bottom: .3em solid $primary-color;
                padding-bottom: 6px;
                display: inline-block;
            }
        }

        .quotes {
            flex: 1 1;
        }
    }
}
