@import "../../styles/base";

.navbar {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100%;

    .menu {
        padding: 10px 15px;
        margin: 0 5px;
        cursor: pointer;
    }

    .menu.active, .menu:hover {
        background-color: $primary-color;
        color: $accent-color;
    }

    .menu.active {
        cursor: default;
    }
}