/**** Colors ****/

$black: #020202;
$yellow: #f8c414;

/**** Custom CSS ****/

* {
  font-family: "Raleway", "Helvetice", sans-serif;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}
