@import "../../styles/base";

$large: 200px;
$medium: 175px;
$small: 150px;
$xsmall: 125px;

.photo {
    width: $medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo-wrapper {
        width: $medium;
        height: $medium;
        border-radius: 50%;
        border: 6px solid $primary-color;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .photo-wrapper.small {
        width: $small;
        height: $small;
    }

    .photo-wrapper.xsmall {
        width: $xsmall;
        height: $xsmall;
    }

    .photo-wrapper.large {
        width: $large;
        height: $large;
    }
}

.photo.small {
    width: $small;
}

.photo.xsmall {
    width: $xsmall;
}

.photo.large {
    width: $large;
}

.photo.inverted {
    .photo-wrapper {
        border-color: $accent-color;
    }
}