@import "../../../styles/base";

.quotes {
  overflow: hidden;
  position: relative;

  .quote {
    position: absolute;
    top: 0;
    transition: left 2s, opacity 1s .5s;

    .big-text {
      font-size: 2.5em;

      .big-underline {
        border-bottom: .5em solid rgba(255, 255, 255, .3);
        line-height: .2em;
        display: inline-block;
      }
    }

    .division {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .line {
        width: 150px;
        max-width: 30%;
        height: 6px;
        background-color: $primary-color;
        margin-right: 10px;
      }
    }
  }

  .quote.active {
    left: 0;
    opacity: 1;
  }

  .quote.left {
    left: -100%;
    opacity: 0;
  }

  .quote.right {
    left: 100%;
    opacity: 0;
  }
}
